# Flow control

**if and else - base on the satisfying condition we can get the output**

**Syntax**

if condition:

    perform the task if the above condition is satisfied 
    
else:

    perform the task if the of condition is no satisfied 
    
**so the colon : is important after every condition and tab indentation is important as well**

In [1]:
marks = int(input('Enter the marks:'))
if marks < 40:
    print('You failed the exam')
    print('Hi')
else:
    print('You pass the exam')

Enter the marks:55
You pass the exam

In [2]:
marks = int(input('Enter the marks:'))
if marks < 40:
    print('You failed the exam')
    print('Hi')
else:
    print('You pass the exam')
#This hello is outside the if else block
print('Hello')

Enter the marks:55
You pass the exam
Hello

In [3]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
elif marks>= 40 and marks<=60:
    print('You got an average marks')
else:
    print('You got excellent marks')

Enter the marks: 55
You got an average marks

In [4]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
elif marks>= 40 and marks<=60:
    print('You got an average marks')
elif marks >60:
    print('You got excellent marks')

Enter the marks: 66
You got excellent marks

**Banking Examples for if and else**

1) Account Balance check

In [5]:
account_balance = int(input('Enter the account balance: '))
if account_balance>0:
    print('Your account is in good standing')
else: 
    print('Your account balance is negative, please take action')

Enter the account balance: 100
Your account is in good standing

2) Loan Eligibility

In [6]:
income = int(input('Enter the income: '))
credit_score = int(input('Enter the credit score: '))

if income>50000 and credit_score>750:
    print('You are eligible for the loan, congratulations!!!')
else:
    print('You are not eligible for the loan, sorry!!!')

Enter the income: 70000
Enter the credit score: 889
You are eligible for the loan, congratulations!!!

3) withdrawal limit check

In [7]:
withdrawal_amount = int(input('Enter the amount you want to withdraw: '))
daily_limit = 1000

if withdrawal_amount<=daily_limit:
    print('Withdrawal Successfull')
else:
    print('Withdrawal amount exceeds the daily limit')

Enter the amount you want to withdraw: 1120
Withdrawal amount exceeds the daily limit

4) Transaction fee calculations _ Nested if else

In [22]:
transaction_amount = int(input('Enter the transaction amount: '))
transaction_type = input('Enter the transaction type: ')

if transaction_type== 'withdrawal':
    if transaction_amount>1000:
        transaction_fee = 5
    elif transaction_amount<=1000:
        transaction_fee=2
elif transaction_type =='deposite':
    transaction_fee =0
else:
    print('please pass the correct option')
    
total_amount = transaction_amount+transaction_fee
print('total_amount: ',total_amount)

Enter the transaction amount: 2
Enter the transaction type: withdrawal
total_amount:  4

5) Tax calculator

In [30]:
income = int(input('Enter the salary: '))
if income>=0 and income<=2500:
    print('The total tax you have to pay is: ', income*0.00)
elif income>2500 and income<=5000:
    print('The total tax you have to pay is: ', income*0.05)
elif income>5000 and income<=10000:
    print('The total tax you have to pay is: ', income*0.10)
elif income>10000 and income<=20000:
    print('The total tax you have to pay is: ', income*0.20)
elif income>20000:
    print('The total tax you have to pay is: ', income*0.30)
else:
    print('Income cannot be negative')

Enter the salary: -1
Income cannot be negative

**For loop - when you want to iterate on something for example: Tuples, List, Sets String...**

syntax

for i in something:

    getouput

In [32]:
stu_list = ['A', 'B','C','D', 'E']
for i in stu_list:
    print(i, end=' ')

A B C D E

In [33]:
stu_list = ['A', 'B','C','D', 'E']
for i in stu_list:
    print(i)

A
B
C
D
E

In [37]:
for i in 'The Scholar':
    print(i,end=' ')

T h e   S c h o l a r

**Banking Example- for loop**

In [39]:
sales = [3454, 2234,5443,2321]
profit =[455,333,221,122]

In [45]:
for i in [0,1,2,3]:
    print(profit[i]/sales[i])

0.13173132599884194
0.14905998209489704
0.040602608855410616
0.052563550193881946

In [46]:
for i in range(len(sales)):
    print(profit[i]/sales[i])

0.13173132599884194
0.14905998209489704
0.040602608855410616
0.052563550193881946

In [48]:
profit_ratio=[]
for i in range(len(sales)):
    profit_ratio.append(profit[i]/sales[i])

In [49]:
profit_ratio

[0.13173132599884194,
 0.14905998209489704,
 0.040602608855410616,
 0.052563550193881946]

Transaction History

In [50]:
transaction_history = [50,-20,100,-30,-20]
for i in transaction_history:
    if i>0:
        print('deposit; ',i)
    else:
        print('withdraw: ', abs(i))

deposit;  50
withdraw:  20
deposit;  100
withdraw:  30
withdraw:  20

Account Summation

In [52]:
account_balance =[1000,2000,3000,2000,-5000,3000]
total_balance = 0
for balance in account_balance:
    total_balance+=balance
    
print('total account balance: ',total_balance)

total account balance:  6000

Interest calculation

In [53]:
account_balance = [1000, 2000,3000,2000,5000,3000]
interest_rate = 0.05

#for i in account_balance:
 #   interest = interest_rate*account_balance 
#    account_balace[]

for i in range(len(account_balance)):
    interest = interest_rate*account_balance[i]
    account_balance[i] +=interest
    
print('updated account balance: ', account_balance)

updated account balance:  [1050.0, 2100.0, 3150.0, 2100.0, 5250.0, 3150.0]

Account Closure

In [56]:
account_numbers =[123456,345678,789012, 901234]
account_to_close = int(input('which account to close: '))

for account in account_numbers:
    if account==account_to_close:
        print('Closing account: ', account)
        account_numbers.remove(account)
        break
    else:
        print('Account not found')

print('Remaining account: ', account_numbers)

which account to close: 432553
Account not found
Account not found
Account not found
Account not found
Remaining account:  [123456, 345678, 789012, 901234]

In [57]:
account_numbers =[123456,345678,789012, 901234]
account_to_close = int(input('which account to close: '))

for account in account_numbers:
    if account==account_to_close:
        print('Closing account: ', account)
        account_numbers.remove(account)
        break


print('Remaining account: ', account_numbers)

which account to close: 1234532
Remaining account:  [123456, 345678, 789012, 901234]

Account Statement

In [59]:
account_transaction = [{'date':'2023-07-01', 'type':'deposite','amount':100},
                      {'date':'2023-07-02', 'type':'withdraw','amount':50},
                      {'date':'2023-07-03', 'type':'deposite','amount':200},
                      {'date':'2023-07-04', 'type':'withdraw','amount':75}]

In [60]:
account_transaction

[{'date': '2023-07-01', 'type': 'deposite', 'amount': 100},
 {'date': '2023-07-02', 'type': 'withdraw', 'amount': 50},
 {'date': '2023-07-03', 'type': 'deposite', 'amount': 200},
 {'date': '2023-07-04', 'type': 'withdraw', 'amount': 75}]

In [62]:
print("Account Statement")
for transaction in account_transaction:
    print(transaction['date'],"-", transaction['type'],"-", transaction['amount'])

Account Statement
2023-07-01 - deposite - 100
2023-07-02 - withdraw - 50
2023-07-03 - deposite - 200
2023-07-04 - withdraw - 75

In [5]:
transaction_date =['2023-07-01','2023-07-01','2023-07-03','2023-07-04']
transaction_type = ['deposite','withdraw','deposite','withdraw']
transaction_amount = [100,50,200,75]

for (td,tt,ta) in zip(transaction_date,transaction_type,transaction_amount):
    print(td, '-',tt,'-',ta)

2023-07-01 - deposite - 100
2023-07-01 - withdraw - 50
2023-07-03 - deposite - 200
2023-07-04 - withdraw - 75

**while loops-it will run till the time condition is satisfied**

In [ ]:
while condition:
    getoutput

**below code will go for the infinite loop, because the condition will always be true**

In [7]:
#while 1=1:
#    print("hi")

In [8]:
while 1==2:
    print('Hi')
print('Hello')

Hello

**Practical Example-While loop**

**Marketing**

In [9]:
coupouns =5
utilized =0

while utilized<coupouns:
    print('There are total: ', coupouns-utilized, 'coupouns left')
    utilized+=1
print ('no coupouns left')

There are total:  5 coupouns left
There are total:  4 coupouns left
There are total:  3 coupouns left
There are total:  2 coupouns left
There are total:  1 coupouns left
no coupouns left

**Factorial of a number**

In [12]:
number = int(input('Enter the number: '))
result =1
while number>=1:
    result = result*number
    number-=1
print(result)

Enter the number: 3
6

In [15]:
number = int(input('Enter the number: '))

if number<0:
    print('There is no factorial of a negative number')
else:
    result =1
    while number>=1:
        result = result*number
        number-=1
    print(result)

Enter the number: -3
There is no factorial of a negative number

**Pin Validation**

In [19]:
correct_pin =2222
max_attempts =3
attempts = 0

while attempts<max_attempts:
    pin = int(input('Enter you pin: '))
    if pin == correct_pin:
        print('Pin accepted, Access Granted')
        break
    else:
        attempts+=1
        print('Incorrect pin, Attempts remaining: ',max_attempts-attempts)
        
if attempts==max_attempts:
    print('Max attempts reached, access denied')

Enter you pin: 432
Incorrect pin, Attempts remaining:  2
Enter you pin: 424
Incorrect pin, Attempts remaining:  1
Enter you pin: 2222
Pin accepted, Access Granted

**Account creation with unique account number**

In [21]:
import random
existing_account_number = [1,5,7,9]
new_account_number =random.randint(1,9)

while new_account_number in existing_account_number:
    new_account_number = random.randint(1,9)

print('Account created sucessfully: ', new_account_number)
print

Account created sucessfully:  3

**Money withdrawal with balance validation**

In [25]:
account_balance =1000
min_balance =100

withdrawal_amount = float(input('Enter the amount to withdraw; '))

while withdrawal_amount>account_balance or withdrawal_amount<min_balance:
    if withdrawal_amount>account_balance:
        print('Insufficient funds, available balance: ', account_balance)
    else:
        print('invalid withdraw amount, minimum withdrawal amount is: ', min_balance)
    withdrawal_amount=float(input('Enter the amount to withdraw: '))

account_balance -= withdrawal_amount
print('withdrawal successful: ', account_balance)

Enter the amount to withdraw; 10000
Insufficient funds, available balance:  1000
Enter the amount to withdraw: 50
invalid withdraw amount, minimum withdrawal amount is:  100
Enter the amount to withdraw: 300
withdrawal successful:  700.0

**Interest Calculation**

In [29]:
initial_investment = int(input('Enter the amount which you need to invest: '))
interest_rate = float(input("Enter the interest rate: "))
duration = int(input("Enter the duration: "))
final_dur = duration
while duration>=1:
    interest = initial_investment*interest_rate
    initial_investment+=interest
    duration-=1
    
print('Final account balance: ',initial_investment, 'after', final_dur, ' year with the interest if', interest_rate)

Enter the amount which you need to invest: 500000
Enter the interest rate: .10
Enter the duration: 10
Final account balance:  1296871.2300500001 after 10  year with the interest if 0.1

In [30]:
account_balance

700.0