# Slicing and Indexing

In [36]:
Company = 'The Scholar'

In [37]:
type(Company)

str

**Slicing is happen only with a square bracket**

In [38]:
Company[4]

'S'

**when you are calling a function it will be using () Normal Brackets**

By default the slicing happens from left to right

Company[7:1:1]- The last +1 is the direction, if it is a positive value it will be left to right abd if it will be negative value, it will be right to left

In [39]:
Company

'The Scholar'

In [40]:
Company[4:7]

'Sch'

In [7]:
Company[6:10]

'hola'

In [8]:
Company[2:7]

'e Sch'

In [9]:
Company[0:9]

'The Schol'

In [10]:
Company[7:1]

''

In [12]:
Company[10:5]

''

In [13]:
Company[5:10]

'chola'

In [18]:
Company[7:1:]

''

In [19]:
Company[-8:-2]

' Schol'

In [20]:
Company[-8:7]

' Sch'

In [21]:
Company[2:-2]

'e Schol'

In [22]:
Company[7:-8:-1]

'ohcS'

In [25]:
Company[-3:-9:-1]

'lohcS '

In [26]:
Company[1:-11:-1]

'h'

In this example there is no starting point so it will start from start and end till the end

In [42]:
Company[::-1]

'ralohcS ehT'

In [29]:
Company[:5:-1]

'raloh'

In [30]:
Company[5::-1]

'cS ehT'

In [33]:
Company[-5::]

'holar'

In [41]:
Company[-5:-7:-2]

'h'

# Data Structure in python

**what are the in-build data structures are there on python**

    1) Lists
        
        a) List are always created using [] brackets
        b) List can have heterogeneous data i.e. we can dirrerent datatype 
        c) Duplicates are entertained 
        d) List are growable in nature - you can add more value in the list
        e) List are mutable in nature - we can add the value, update, delete from the list without changing the memory location 
    
    2) Tuples
        a) tuples are always created using the () brackets 
        b) tuples can have heterogeneous data i.e. we can dirrerent datatype
        c) Duplicates are entertained 
        d) Tuples are not growable in nature - you cannot add, remove, update anything in the tuples
        e) Tuples are immutable in nature- you cannot change the value
        
        
    3)sets 
    
    4) Dictionaries

In [47]:
list1 = ['A', 10, 5.5,True, 'A']

In [46]:
type(list1)

list

In [48]:
list1

['A', 10, 5.5, True, 'A']

In [50]:
list1[1:4]

[10, 5.5, True]

In [51]:
list1[1:4:-1]

[]

In [54]:
type(list1[1])

int

In [78]:
ages = [21,23,33,22,22,33,44,22,44,55,44,22,11,23]

len(ages)

In [58]:
sum(ages)

419

In [59]:
max(ages)

55

In [61]:
min(ages)

11

In [63]:
sum(ages)/len(ages)

29.928571428571427

**Funcations of lists**

append() - It appends a value inside the list at the end, append can take only on argument

In [66]:
ages.append(100)

In [65]:
ages

[21, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23, 100]

In the below example append considers below list[100,200] as a single arguement, it inserted the value inside the list as a list, list of list

In [67]:
ages.append([100,200])

In [69]:
len(ages)

17

In [70]:
ages[16]

[100, 200]

In [71]:
ages[16][1]

200

In [72]:
del ages[-1]

In [74]:
ages

[21, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23, 100, 100]

clear()-It will clear all the list elements and keep the list as an empty list

In [77]:
ages.clear()

In [85]:
id(ages)

1959904976704

Copy() - copy commad create the actual backup of the list, ages is in on memory location and ages1 is in another memory location

In [84]:
ages1 = ages.copy()

In [86]:
id(ages1)

1959904870144

In [82]:
ages2 = ages

In [87]:
id(ages2)

1959904976704

In [88]:
del ages2

In [89]:
ages

[21, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23]

In [90]:
del ages1

count()-Count the number od value in the list

In [92]:
ages.count(22)

4

extend()-it will add multiple values in the list as an individual elements, we have to pass a list of values

In [93]:
ages.extend([10,20])

In [94]:
ages

[21, 23, 33, 22, 22, 33, 44, 22, 44, 55, 44, 22, 11, 23, 10, 20]

index()- it will always gives the first index of the value

In [95]:
ages.index(22)

3

Insert()- it will insert a value at a particular index position

pop()-it takes one or zero arguements. if we are possing any arguement the it will remove the last value, however, if we pass thee index of any specific value it will be indexed value

In [98]:
ages.insert(7,100)

In [97]:
ages

[21, 23, 33, 22, 22, 33, 44, 100, 22, 44, 55, 44, 22, 11, 23, 10, 20]

In [102]:
ages.pop(6)

44

In [103]:
ages

[21, 23, 33, 22, 22, 33, 100, 100, 22, 44, 55, 44, 22, 11, 23, 10]

Remove()- It takes one arguement and that is the value which is present in the list. if there are duplicates it will remove the first instance of the duplicates

In [106]:
ages.remove(100)

In [107]:
ages

[21, 23, 33, 22, 22, 33, 22, 44, 55, 44, 22, 11, 23, 10]

Reverse()- it will flip the list

In [108]:
ages.reverse()

In [109]:
ages

[10, 23, 11, 22, 44, 55, 44, 22, 33, 22, 22, 33, 23, 21]

sort()- by defaut the shorting is an ascending order, if we want to do the decending order then we can pass the reverse argument inside the sort function as true

In [110]:
ages.sort()

In [112]:
ages.sort(reverse=True)

In [113]:
ages

[55, 44, 44, 33, 33, 23, 23, 22, 22, 22, 22, 21, 11, 10]

**tuple**

In [116]:
Salary = (23,43,22,33,22,11,22,44,33)

In [118]:
type(Salary)

tuple

In [119]:
tuple1 = ('A',10,10.5,True)

In [120]:
tuple1[0] =23

TypeError: 'tuple' object does not support item assignment

In [121]:
Salary.count(22)

3

In [122]:
Salary.index(22)

2

lists- we can use where we can change the values frequently

Tuples - we can use where we cannot change the value frequently or never

**How we can change the value in the tuples**

    1) convert the tuple to list
    2) As lists are mutable lets change the value in the converted list
    3) we will convert the list back to the tuple
    
    memeory location will change - It will overwrite the previous tuple hence, it will change the memory location.

In [130]:
Salary
id(salary)

1959907598144

In [124]:
a = list(Salary)

In [125]:
a[0]=22

In [127]:
Salary = tuple(a)

In [128]:
id(Salary)

1959907597248