# Set in Python

Properties of sets

    1) Duplicates are not allowed
    2) Heterogeneous data allowed
    3) sets are mutalbe in nature
    4) Curly brackets to create the sets
    5) values in the sets always sorted in the ascending order
    6) We cannot slice the sets as there is no concept of index in the sets

In [32]:
set1 = {21,22,12,21,43,44,32,21,10}

In [3]:
len(set1)

7

In [4]:
max(set1)

44

In [5]:
set1 = {'A', 10.5,13, True}

In [6]:
set1

{10.5, 13, 'A', True}

Add- Add will add the single value of the set based on the ascending order

In [9]:
set1.add(100)

In [10]:
set1

{10, 12, 21, 22, 32, 43, 44, 100}

Update - Helps to add the multiple values in the set

In [11]:
set1.update([101,102,103])

In [12]:
set1

{10, 12, 21, 22, 32, 43, 44, 100, 101, 102, 103}

Clear() - Clear the values from the set, the structure will be there it just remove value of the set.

In [13]:
set1.clear()

In [14]:
set1

set()

In [ ]:
Copy()- Copy will create the backup of the set

In [16]:
set1.copy()

{10, 12, 21, 22, 32, 43, 44}

Discard()-it Removes the value from the set, discard if we run again when the value is not there it will still run but does not have any impact on the set and does not have any error.

In [17]:
set1.discard(44)

In [18]:
set1

{10, 12, 21, 22, 32, 43}

Revome()- It removes the value from the set and if the value is not present it will throw the error.

In [34]:
set1.remove(43)

In [33]:
set1.pop()

32

In [48]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
set3 = {5,6,7,8}
set4 = {10,11,12,13}

In [37]:
set1.difference(set3)

{1, 2, 3, 4}

In [38]:
set1.symmetric_difference(set3)

{1, 2, 3, 4, 7, 8}

In [39]:
set1.intersection(set3)

{5, 6}

In [40]:
set1.difference_update(set3)

In [41]:
set1

{1, 2, 3, 4}

In [43]:
set1.intersection_update(set3)

In [44]:
set1

{5, 6}

In [46]:
set1.symmetric_difference_update(set3)

In [47]:
set1

{1, 2, 3, 4, 7, 8}

In [50]:
set1.isdisjoint(set4)

True

In [52]:
set1.issuperset(set2)

True

In [53]:
set2.issubset(set1)

True

In [54]:
output = set1.union(set4)

In [55]:
output

{1, 2, 3, 4, 5, 6, 10, 11, 12, 13}

Frozenset - Immutable in nature

In [56]:
fsset = frozenset(set1)

In [57]:
type(fsset)

frozenset

Sets - when we are having duplicates and we need to remove those then we can create the set anf all the duplicates we will get removed


# Dictionaries

Its a key value pair concept where key and values are seprated bu colon : 

    1) Create by curly brackets

In [1]:
Student_details = {'stuid' : 1, 'Sname' : 'A', 'sregion':'N'}

In [2]:
type(Student_details)

dict

In [31]:
Student_details = {'stuid':[1,2,3,4,5], 'Sname':['A','B','C','D','E'],'sregion':['N','S','S','E','W']}

We can pass tuple as well in place of list, but the value will not get updated because it is a tuple.

In [26]:
Student_details

{'stuid': [1, 2, 3, 4, 5],
 'Sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

Length cammad will count the number of key value pairs

In [5]:
len(Student_details)

3

Clear()- It will clear the values from the dictionary and make it as an emplty dictionary

In [6]:
Student_details.clear()

Copy() - it will create a backup of the dictionary

In [8]:
id(Student_details.copy())

1559772454336

In [ ]:
Get()- it will give the values of the key passed in that cammand

In [15]:
Student_details.get('stuid')

[1, 2, 3, 4, 5]

Item () - It will give all the key value pairs together

In [76]:
Student_details.items()

dict_items([('stuid', [1, 2, 3, 4, 5]), ('Sname', ['A', 'B', 'C', 'D', 'E']), ('sregion', ['N', 'S', 'S', 'E', 'W'])])

**Key**- It will give all the key from the dictionary

In [16]:
Student_details.keys()

dict_keys(['stuid', 'Sname', 'sregion'])

**Values**-It will give all the values from the dictionary

In [78]:
Student_details.values()

dict_values([[1, 2, 3, 4, 5], ['A', 'B', 'C', 'D', 'E'], ['N', 'S', 'S', 'E', 'W']])

**pop**-Pop will remove the key value pair of that key passed inside the bracket

In [17]:
Student_details.pop('stuid')

[1, 2, 3, 4, 5]

In [28]:
Student_details.pop('Sname')

['A', 'B', 'C', 'D', 'E']

In [32]:
Student_details['stu_name'] = Student_details.pop('Sname')

**popitem**-It will remove the last key value pair

In [34]:
Student_details.popitem()

('stu_name', ['A', 'B', 'C', 'D', 'E'])

In [35]:
Student_details

{'stuid': [1, 2, 3, 4, 5], 'sregion': ['N', 'S', 'S', 'E', 'W']}

**Setdefault** - It will create a new key with non as value

In [37]:
Student_details.setdefault('Sname')

In [38]:
Student_details

{'stuid': [1, 2, 3, 4, 5], 'sregion': ['N', 'S', 'S', 'E', 'W'], 'Sname': None}

In [39]:
Student_details['Sname'] = ['A','B','C','D','E']

In [40]:
Student_details

{'stuid': [1, 2, 3, 4, 5],
 'sregion': ['N', 'S', 'S', 'E', 'W'],
 'Sname': ['A', 'B', 'C', 'D', 'E']}

In [ ]:
We

In [41]:
dict1 = {'A':1,'A':2}

In [42]:
dict1

{'A': 2}

In [43]:
dict1 = {1:2,3:4,5:6}
dict2 = {1:10,10:12}

In [44]:
dict1.update(dict2)

In [45]:
dict1

{1: 10, 3: 4, 5: 6, 10: 12}

In [46]:
Student_details

{'stuid': [1, 2, 3, 4, 5],
 'sregion': ['N', 'S', 'S', 'E', 'W'],
 'Sname': ['A', 'B', 'C', 'D', 'E']}

In [47]:
import pandas as pd

In [49]:
pd.DataFrame(Student_details)

   stuid sregion Sname
0      1       N     A
1      2       S     B
2      3       S     C
3      4       E     D
4      5       W     E

**Range**- It generate the number from the given range

In [50]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
list(range(100,10,-10))

[100, 90, 80, 70, 60, 50, 40, 30, 20]

**NoneType**- It is like a placeholder, we dont know the value but in future value may come

In [53]:
output = None

In [55]:
type(output)

NoneType

# Operators in Python

**Arithmetic**

    1) + (Addition)
    2) - (Subtraction)
    3) * (Multiplication)
    4) / (Division)
    5) // (Floor Division)
    6) % (Modulo)
    7) ** (Power)

In [56]:
num1 = 10
num2 = 3
print('num1+num2:',num1+num2)
print('num1-num2:',num1-num2)
print('num1*num2:',num1*num2)
print('num1/num2:',num1/num2)
print('num1//num2:',num1//num2)
print('num1%num2:',num1%num2)
print('num1**num2:',num1**num2)

num1+num2: 13
num1-num2: 7
num1*num2: 30
num1/num2: 3.3333333333333335
num1//num2: 3
num1%num2: 1
num1**num2: 1000

when there are two string will be conatenate if we use + in between

In [57]:
'iftekhar'+'alam'

'iftekharalam'

In [58]:
'10'+'20'

'1020'

**Type casting**- Converting the data into an integer from the string

In [59]:
int('10')+int('20')

30

**Relational or comprison**

    1) < - less than
    2) <= less than equal to
    3) > - More than
    4) >= More than equal to

In [61]:
num1 =10
num2 =3
print('num1<num2:',num1<num2)
print('num1<=num2:',num1<=num2)
print('num1>num2:',num1>num2)
print('num1>=num2:',num1>=num2)

num1<num2: False
num1<=num2: False
num1>num2: True
num1>=num2: True

**Equality**

    1) == - Equals to 
    2) != - Not equals to

In [62]:
num1=10
num2=3
print('num1==num2:',num1==num2)
print('num1!=num2:',num1!=num2)

num1==num2: False
num1!=num2: True

**Assignment Operator**

    1) +=
    2) -=
    3) *=
    4) /=
    5) //=
    6) %=
    7) **=

In [71]:
num1 = 10
num1+=30
num1

40

In [65]:
num1 = 10
num1-=30
num1

-20

In [66]:

num1 = 10
num1*=30
num1

300

In [67]:
num1 = 10
num1/=30
num1

0.3333333333333333

In [73]:
num1 = 10
num1//=4
num1

2

In [72]:
num1 = 10
num1%=4
num1

2

In [70]:
num1 = 10
num1**=30
num1

1000000000000000000000000000000

**Ternary**

In [75]:
10 if 10>20 else 30

30

In [76]:
10 if 10<20 else 30

10

In [78]:
10 if 10>7>9 else 9 if 7>9 else 7

7

In [79]:
10 if 10>7 and 10>9 else 9 if 7>9 else 7

10

In [81]:
10 if 10>7 or 1>9 else 9 if 7>9 else 7

10

**Special**

    1) Identity Oprator
        a)is
        b) is not
    2) Membership Operator
        a)in 
        b) not in

In [82]:
a=10
b=10
a is b

True

In [84]:
a=1000
b=1000
a is not b

True

In [86]:
list1 =[10,20,30,40,50]
50 not in list1

False


# Input and output

Input - It will always stores the value in the form of a sting

In [91]:
marks = int(input ('enter the marks:'))

enter the marks:25

In [92]:
type(marks)

int

In [93]:
marks

25

In [100]:
print('Hi', end='\n')
print('Hello', end='\n')
print('How are you', end='\n')

Hi
Hello
How are you

In [101]:
print('Hi', end=' ')
print('Hello', end=' ')
print('How are you', end=' ')

Hi Hello How are you

In [98]:
a = 'rahul'
b = 'Gaurav'
c = 'iftekhar'
print(a)
print(b)
print(c)

rahul
Gaurav
iftekhar